.cabecalho{
    background-color: rgb(206, 12, 12);
    color:rgb(5, 5, 5);
}  
.cabecalho{
    display: flex;
    justify-content: space-around;
    padding: 180px 0;
    font-size: 50px;
}

.cabecalhoListaItem{
    display: inline-block;
    margin: 0 110px;
    padding: 100px 0;
}