.cabecalho{
    background-color: rgb(206, 12, 12);
    color:rgb(5, 5, 5);
}  
.cabecalho{
    display: flex;
    justify-content: space-around;
    padding: 18px 0;
    font-size: 50px;
}

.cabecalhoListaItem{
    display: inline-block;
    margin: 0 11px;
    padding: 10px 0;
}
.sobreImagem{
           width: 30%;
}

.sobre{
        background-image: linear-gradient(#f10606,#0b0a0a)
        color: red;
        display:flex;
        justify-content: center;
       align-items: center;
       padding: 200px 0;
}

.sobreConteudo{
        width: 30%;
}

.sobreTitulo{
         padding: 100px 50px;
}