.cabecalho{
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}  
.cabecalho{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    font-size: 25px;
}

.cabecalhoListaItem{
    display: inline-block;
    margin: 0 15px;
    padding: 20px 0;
}
.sobreImagem{
           width: 30%;
}

.sobre{
        background-image: linear-gradient(#000000,#ff0000);
        color: rgb(17, 17, 17);
        display:flex;
        justify-content: center;
       align-items: center;
       padding: 15px 0;
}

.sobreConteudo{
        width: 30%;
}

.sobreTitulo{
         padding: 100px 50px;
}

/*Novo CSS*/
.membroImagem{
width:120px;
}

.membroIcone{
width: 24px;
}

.membroDiv{
text-align:right;
}

.membrosTitulo{
text-align:center;
padding: 50px 0;
}

.membrosTodos{
display: grid;
/*Transforma o display em quadrados*/
grid-template-columns: 10% 20% 20% 20% 20%;
/*Quanto cada coluna ocupa na página, em sequência*/
}

.membroDiv{
text-align:center;
padding-bottom: 34px;
}

.membros{
background-color: rgb(255, 0, 0);
}